@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
.btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.5s;
  color: white;
}

.sch {
  min-height: 100vh;
  max-height: min-content;
}

.arrow {
  position: relative;
  margin-top: 10%;
  width: 4vmin;
  height: 4vmin;
  background: transparent;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
}
.arrow {
  left: 0;
  transform: translate3d(0, -50%, 0) rotate(135deg);
}

.arrow:before {
  content: "";
  transform: translate(-40%, -60%);
  width: 200%;
  height: 200%;
}

.abs-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.cunderline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.8rem;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: #dc0073;
}

.cunderline2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.8rem;
  left: 0;
  bottom: 0;
  z-index: -1;
  background: #61dafb;
}

@media (max-width: 800px) {
  .cunderline2::after {
    height: 0.4rem;
  }
}

@media (max-width: 800px) {
  .cunderline::after {
    height: 0.4rem;
  }
}
@media (max-width: 500px) {
  .cunderline2::after {
    height: 0.2rem;
  }
}

@media (max-width: 500px) {
  .cunderline::after {
    height: 0.2rem;
  }
}

@media (max-width: 450px) {
  .phonescreen {
    flex-wrap: wrap;
  }
}
