@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
.btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.7s;
  color: white;
}

.sch {
  min-height: 100vh;
  max-height: min-content;
}

.arrow {
  position: relative;
  margin-top: 10%;
  width: 4vmin;
  height: 4vmin;
  background: transparent;
  border-top: 1vmin solid black;
  border-right: 1vmin solid black;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
}
.arrow {
  left: 0;
  transform: translate3d(0, -50%, 0) rotate(135deg);
}

.arrow:before {
  content: "";
  transform: translate(-40%, -60%);
  width: 200%;
  height: 200%;
}
